.dropzone {
  border: 1px dashed var(--stroke-default);
  border-radius: 0.25rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1.75rem 1rem;
  position: relative;
  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity:0;
  }
  & p{
    color: #a8a29e
  }
  &:hover, &:has(input:focus){ /*Serve para quando o input tiver o focus */
    border-width: 2px;
    border-color: var(--stroke-heightlight);
    background-color: var(--surface-secondary);
 
  & p{
    color: var(--text-tertirary)
  }
  & svg path{
    stroke: var(--stroke-highlight);
  }
   }
}
